/////////////////////////////////////////////////////////
// Common

// Heights (Bootstrap)
@baseFontSize: 13px;
@baseLineHeight: 18px;

// Tables (Bootstrap)
@tableBackgroundAccent: #f9f9f9;
@tableBackgroundHover: #f5f5f5;
@tableBorder: #ddd;

// Grayscale colors (Bootstrap)
@black: #000;
@grayDarker: #222;
@grayDark: #333;
@gray: #555;
@grayLight: #999;
@grayLighter: #eee;
@white: #fff;

// Accent Colors (Bootstrap)
@blue: #049cdb;
@green: #46a546;
@red: #9d261d;
@yellow: #ffc40d;
@orange: #f89406;
@pink: #c3325f;
@purple: #7a43b6;

// Scaffolding and links (Bootstrap)
@bodyBackground: @white;			// Page background color
@textColor: @grayDark;				// Default text color for entire body, headings, and more
@linkColor: #08c;							// Default link text color
@linkColorHover: darken(@linkColor, 15%);		//Default link text hover color

// Components Buttons (Bootstrap)
@btnBackground: @white;
@btnBackgroundHighlight: darken(@white, 10%);
@btnBorder: darken(@white, 20%);
@btnPrimaryBackground: @linkColor;
@btnPrimaryBackgroundHighlight: spin(@btnPrimaryBackground, 15%);
@btnInfoBackground: #5bc0de;
@btnInfoBackgroundHighlight: #2f96b4;
@btnSuccessBackground: #62c462;
@btnSuccessBackgroundHighlight: #51a351;
@btnWarningBackground: lighten(@orange, 15%);
@btnWarningBackgroundHighlight: @orange;
@btnDangerBackground: #ee5f5b;
@btnDangerBackgroundHighlight: #bd362f;
@btnInverseBackground: @gray;
@btnInverseBackgroundHighlight: @grayDarker;

// Component colors (Bootstrap)
@btnBackground: @white;
@btnBackgroundHighlight: darken(@white, 10%);
@btnBorder: darken(@white, 20%);
@btnPrimaryBackground: @linkColor;
@btnPrimaryBackgroundHighlight: spin(@btnPrimaryBackground, 15%);
@btnInfoBackground: #5bc0de;
@btnInfoBackgroundHighlight: #2f96b4;
@btnSuccessBackground: #62c462;
@btnSuccessBackgroundHighlight: #51a351;
@btnWarningBackground: lighten(@orange, 15%);
@btnWarningBackgroundHighlight: @orange;
@btnDangerBackground: #ee5f5b;
@btnDangerBackgroundHighlight: #bd362f;
@btnInverseBackground: @gray;
@btnInverseBackgroundHighlight: @grayDarker;

// Forms (Bootstrap)
@placeholderText: @grayLight;
@inputBackground: @white;
@inputBorder: #ccc;
@inputDisabledBackground: @grayLighter;
@formActionsBackground: #f5f5f5;

// Form States and Alerts (Bootstrap)
@warningText: #c09853;
@warningBackground: #f3edd2;
@errorText: #b94a48;
@errorBackground: #f2dede;
@successText: #468847;
@successBackground: #dff0d8;
@infoText: #3a87ad;
@infoBackground: #d9edf7;

// Navbar (Bootstrap)
@navbarHeight: 40px;
@navbarBackground: @grayDarker;
@navbarBackgroundHighlight: @grayDark;
@navbarText: @grayLight;
@navbarLinkColor: @grayLight;
@navbarLinkColorHover: @white;
@navbarLinkColorActive: @navbarLinkColorHover;
@navbarLinkBackgroundHover: transparent;
@navbarLinkBackgroundActive: @navbarBackground;
@navbarSearchBackground: lighten(@navbarBackground, 25%);
@navbarSearchBackgroundFocus: @white;
@navbarSearchBorder: darken(@navbarSearchBackground, 30%);
@navbarSearchPlaceholderColor: #ccc;
@navbarBrandColor: @navbarLinkColor;

// END BOOTSTRAP

html, body {
  height: 100%;
  margin: 0;
}

#main-div-wrapper {
  min-height: 100%;
}

.main-div-active {
  background-color: @successBackground;
}

// Functions
.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

/* CSS declarations go here */
.group
{

}

div.main-area {
  margin-top: 50px;
}

div.recommends {
  padding: 5px;
  margin-top: 5px;
  .rounded-corners;
  background-color: @infoBackground;
}

span.is-me {
  font-weight: bold;
  color: #900;
}

li {
  list-style-type: none;
}

div.command-bar {
  div.commands {
	margin-top: 5px;
  }

  div.form-area {
	margin: 5px;
  }
}

div.draft-control {
  div.draft-control-buttons {
	margin-bottom: 10px;
  }
}
div.ticket-area {
  div.ticket-wrapper {
	padding: 5px;
  }
  margin-top: 0px;
  .rounded-corners;
  background-color: @grayLighter;

  div.ticket {
	&:hover {
	  background-color: #eee;
	}

	div.ticket-buttons {
	  margin: 10px 0px 5px 0px;
	}
  }
}

div.user-area {
  background-color: @grayLighter;
  .rounded-corners;
  padding: 5px;
  	ul.users {
	  margin: 3px;
	  padding: 5px;
	  background-color: @white;
	  .rounded-corners;

		li.user-item {
		  .rounded-corners;
		  padding: 5px;
		  cursor: pointer;
		  margin: 3px;
		  border: 1px solid @grayLighter;

		  &:hover {
			background-color: @infoBackground;
		  }
		}

		li.user-turn {
		  background-color: @successBackground;
		}

		li.user-selected {
		  background-color: @infoBackground;
		}
	}
}

div.ticket {
  padding: 5px;
  margin: 3px;
  //border: solid 1px @darkGray;
  background-color: @white;
  .rounded-corners;
}

.inline-edit {
  cursor:pointer;
  padding: 5px 0px 0px 5px;
}

.hover-visible i {
  visibility:hidden;
}
.hover-visible:hover i {
  visibility:visible;
}

label.control-label {
  font-weight: bold;
}

