<template name="AddJiraTicket">
	<div id="addJiraTicketModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Add Jira Tickets</h3>
		</div>
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label" for="tickets">Tickets</label>
				<div class="controls">
					<input type="text" id="tickets" class="input-large" placeholder="Tickets"/>
					<div>
						<span class="help-block">Enter a single ticket or a comma seperated list of tickets.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary add-jira-tickets">Add</button>
		</div>
	</div>
</template>
