<template name="CommandBar">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">

				<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<!-- Be sure to leave the brand out there if you want it shown -->
				<a class="brand" href="#">Snake Draft</a>

				<!-- Everything you want hidden at 940px or less, place within here -->
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><a href="#">Profile</a></li>
						{{#if currentUser.profile.isAdmin}}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Admin
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#" data-toggle="modal" data-target="#configModal">Config</a></li>
								<li><a href="#" data-toggle="modal" data-target="#customTicketModal">Tickets</a></li>
								<li><a href="#" data-toggle="modal" data-target="#resetDbModal">Reset DB</a></li>
							</ul>
						</li>
						{{/if}}
					</ul>
					<ul class="nav pull-right">
						<li><a href="#">{{loginButtons align="right"}}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
