<template name="CommandBar">
	<form class="group form-horizontal" id="CommandForm" name="CommandForm">
		<div class="commands span12">
			<button type="button" class="config btn">Config</button>
			<button type="button" class="add-custom-ticket btn">Add Custom Ticket</button>
		</div>
		<div style="clear: both"></div>
		<div id="configs" style="display: none;">
			{{> Config}}
		</div>

		<div id="addTickets" style="display: none;">
			{{> CustomTicket}}
		</div>
		<div style="clear: both"></div>
	</form>
</template>
