<template name="CommandBar">
	<form class="group form-horizontal" id="CommandForm" name="CommandForm">
		<div class="commands span12">
			<button type="button" class="config btn">Config</button>
			<button type="button" class="add-custom-ticket btn">Add Custom Ticket</button>
		</div>
		<div id="configs" style="display: none;">
			<div>
				<input type="text" id="name" class="input-medium" placeholder="Name"/>
				<input type="text" id="value" class="input-xlarge" placeholder="Value"/>
				<button type="button" class="add-config btn">Add</button>
			</div>
			<ul>
				{{#each ConfigsArr}}
				<li class="config-item">
					{{Name}} : {{Value}}
				</li>
				{{/each}}
			</ul>
		</div>

		<div id="addTickets" style="display: none;">
			<div class="control-group">
				<label class="control-label" for="ticket">Ticket</label>
				<div class="controls">
					<input type="text" id="ticket" class="input-large" placeholder="Ticket"/>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="title">Title</label>
				<div class="controls">
					<input type="text" id="title" class="input-large" placeholder="Title"/>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="description">Description</label>
				<div class="controls">
					<textarea id="description"></textarea>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">&nbsp;</label>
				<div class="controls">
					<button type="button" class="save-custom-ticket btn">Add</button>
				</div>
			</div>
		</div>
		<div style="clear: both"></div>
	</form>
</template>
