<template name="CustomTicket">
	<div class="control-group">
		<label class="control-label" for="ticket">Ticket</label>
		<div class="controls">
			<input type="text" id="ticket" class="input-large" placeholder="Ticket"/>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="days">Time</label>
		<div class="controls">
			<input type="text" id="days" class="input-small" placeholder="Days"/>
			<input type="text" id="hours" class="input-small" placeholder="Hours"/>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="title">Title</label>
		<div class="controls">
			<input type="text" id="title" class="input-large" placeholder="Title"/>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="description">Description</label>
		<div class="controls">
			<textarea id="description"></textarea>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">&nbsp;</label>
		<div class="controls">
			<button type="button" class="save-custom-ticket btn">Add</button>
		</div>
	</div>
</template>
