<template name="MainDiv">
	<div id="main-div-wrapper" class="{{activeUserClass}}">
		{{> CommandBar}}
		<div class="container main-area">
			<div class="row">
				{{#if currentUser}}
				<div class="span4">
					<div class="affix span4" style="margin-left:0;margin-right:30px;">
						{{> DraftControl}}
						<div class="group user-area">
							{{> Users}}
						</div>
					</div>
				</div>

				<div class="span8 ticket-area">
					{{> Tickets}}
				</div>
				{{/if}}
			</div>
		</div>
		{{> Config}}
		{{> CustomTicket}}
		{{> ResetDb}}
		{{> EditUser}}
		{{> AddJiraTicket}}
		{{> JiraConfig}}
		{{> Results}}
	</div>
</template>
