<template name="TicketAssigned">
	<div class="ticket">
		<div class="pull-right right-label">
			<div><span class="label label-inverse">{{formatTotalHours Hours}}</span></div>
			<div><span class="label label-info">{{assignedUsername}}</span></div>
		</div>
		<h4><a target="blank" href="{{JiraLinkUrl}}{{Id}}">{{Id}}</a> : {{Title}}</h4>
		<div class="admin-buttons">
			{{#if isAdmin}}
			<button type="button" class="btn btn-mini btn-primary edit-ticket"><i class="icon-edit"></i> Edit</button>
			<button type="button" class="btn btn-mini btn-danger delete-ticket"><i class="icon-remove"></i> Delete</button>
			{{/if}}
			{{#if canUnassign}}
			<button type="button" class="btn btn-mini btn-warning unassign-ticket"><i class="icon-reply"></i> Un-assign</button>
			{{/if}}
		</div>
	</div>
</template>
