<template name="Users">
	<h4>Active Users</h4>
	<ul class="users active-users">
	{{#each ActiveUserArr}}
		<li class="{{selected}} {{activeUserClass}} user-item hover-visible" title="{{formatTotalHours profile.hoursAssigned}} / {{formatTotalHours profile.hoursAvailable}}">
			<span class="badge">{{profile.draftPosition}}</span> {{username}}
			{{#if imaAdmin}}
			<i style="margin-left: 2px;" class="icon-edit"></i>
			{{/if}}
			<div class="pull-right">
				<span title="Assigned" class="label label-info">{{remainingHoursFormat}}</span>
			</div>
		</li>
	{{/each}}
	</ul>
	<div class="hidden-phone">
		<hr />
		<h4>Inactive Users</h4>
		<ul class="users inactive-users">
			{{#each InactiveUserArr}}
			<li class="user-item {{selected}} hover-visible">
				<div class="pull-right">
					<span class="label {{finishedHoursLabel}}">{{formatTotalHours profile.hoursAssigned}} / {{formatTotalHours profile.hoursAvailable}}</span>
				</div>
				<span class="badge">{{profile.draftPosition}}</span> {{username}}
				{{#if imaAdmin}}
				<i style="margin-left: 2px;" class="icon-edit"></i>
				{{/if}}
			</li>
			{{/each}}
		</ul>
		<hr />
		{{> Chat}}
	</div>
</template>
