<template name="Users">
	<h4>Active Users</h4>
	<ul class="users active-users">
	{{#each ActiveUserArr}}
		<li class="user-item {{selected}}">
			{{username}}
			<div class="pull-right">
				<span title="Assigned" class="label label-info">{{formatTotalHours profile.hoursAssigned}}</span>
				<span title="Available" class="label label-success">{{formatTotalHours profile.totalHoursAvailable}}</span>
			</div>
		</li>
	{{/each}}
	</ul>
	<hr />
	<h4>Inactive Users</h4>
	<ul class="users inactive-users">
		{{#each InactiveUserArr}}
		<li class="user-item {{selected}}">
			{{username}}
			<div class="pull-right">
				<span class="label label-info">{{formatTotalHours profile.hoursAssigned}}</span>
			</div>
		</li>
		{{/each}}
	</ul>
</template>
